* {
    transition: all 0.1s linear;
}

.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height, 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 1px rgb(0 0 0/24%);
}
.inner {
    height: 100%;
    width: var(--default-layout-width, 1150px);
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer, 24px);
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
}
//Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    color: rgb(22, 24, 35);
    // font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 16px;
}
.more-btn {
    margin-left: 28px;
    padding: 0 4px;
    background: transparent;
    cursor: pointer;
    font-size: 2rem;
    cursor: pointer;
}

.user-avartar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

//Custom icons
.custom-mail-box-icon {
    position: relative;

    &::before {
        color: #fff;
        font-weight: 600;
        font-size: 1.4rem;
        border-radius: 50px;
        position: absolute;
        line-height: 20px;
        content: '62';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: rgb(254, 44, 85);
        top: -4px;
        right: 4px;
        padding: 0px 6px;
    }
}
